---
layout: layout.liquid
title: 11ty Boilerplate
---

<div x-data="{ users: $fetch('https://jsonplaceholder.typicode.com/users') }">
  <template x-for="user in users" :key="user.id">
    {% userCard user %}
  </template>
</div>